services:
  doctrine.cache.apcu:
    class: Vainyl\Doctrine\Common\Cache\DoctrineApcuCache
  doctrine.cache.memory:
    class: Doctrine\Common\Cache\ArrayCache
#  doctrine.cache.redis:
#    class: Vainyl\Doctrine\Common\Cache\DoctrineRedisCache
#    arguments: ['@redis.database']
  doctrine.event.manager:
    class: Doctrine\Common\EventManager
  doctrine.registry:
    class: Vainyl\Doctrine\Common\Registry\DoctrineRegistry
    arguments: ['@app.di']
