services:
  doctrine.settings:
    class: Vainyl\Doctrine\Common\DoctrineSettings
    arguments: ['@doctrine.cache.memory', 'yaml', []]
  doctrine.cache.apcu:
    class: Vainyl\Doctrine\Common\Cache\DoctrineApcuCache
  doctrine.cache.memory:
    class: Doctrine\Common\Cache\ArrayCache
#  doctrine.cache.redis:
#    class: Vainyl\Doctrine\Common\Cache\DoctrineRedisCache
#    arguments: ['@redis.database']
  doctrine.cache: '@doctrine.cache.memory'
  doctrine.event.manager:
    class: Doctrine\Common\EventManager
  doctrine.registry:
    class: Vainyl\Doctrine\Common\Registry\DoctrineRegistry
    arguments: ['@app.di', [], []]
  doctrine.mapping.path.provider:
    class: Vainyl\Doctrine\Common\Driver\Provider\DoctrineMappingPathProvider
    arguments: ['@bundle.storage']
  doctrine.mapping.driver.domain:
    decorates: doctrine.mapping.driver
    class: Vainyl\Doctrine\Common\Driver\Decorator\AliasMappingFileDriverDecorator
    arguments: ['@doctrine.mapping.driver.domain.inner']